/* offer */

.section-offer-app{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;}
.section-offer-box{
    width: 300px;
    margin: 10px 10px;
    border: 2px solid rgb(235, 227, 227);
    padding: 25px 20px 40px 50px ;
    position: relative;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: left 2s;
}


.section-offer-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: rgb(0 0 0 / 88%);
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}
.section-offer-box:hover::before{width: 100%;}
.section-offer-box:hover h3{color: white;}
.section-offer-box i{position: absolute;top: 25px;left: 10px;font-size: 25px;color: blue;}
.section-offer-box h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}
.section-offer-box p{color: rgb(136, 130, 130);line-height: 20px;}
.color{color: rgb(208, 255, 0);}
span{color: blue;}